<div class="container">
  <div
    class="side l"
    [ngStyle]="{ 'background-image': 'url(' + images[currentIndex].url + ')' }"
  >
    <div class="caption">{{ images[currentIndex].name }}</div>
  </div>
  <div class="side r">
    <div class="column">
      <div class="menu-item" *ngFor="let section of left">
        <img src="mancha.png" class="spot" />

        <div class="title">{{ section.name }}</div>
        <div class="items">
          <div class="item" *ngFor="let item of section.items">
            <img src="top.png" class="top" *ngIf="item.top" />
            <div class="row-name">
              {{ item.name }}
              <div class="disclaimer" *ngIf="item.disclaimer">
                {{ item.disclaimer }}
              </div>
            </div>
            <div class="separator"></div>
            <div class="row-price">{{ item.price }}$</div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="menu-item" *ngFor="let section of right">
        <img src="mancha.png" class="spot" />

        <div class="title">{{ section.name }}</div>
        <div class="items">
          <div class="item" *ngFor="let item of section.items">
            <img src="top.png" class="top" *ngIf="item.top" />
            <div class="row-name">
              {{ item.name }}
              <div class="disclaimer" *ngIf="item.disclaimer">
                {{ item.disclaimer }}
              </div>
            </div>
            <div class="separator"></div>
            <div class="row-price">{{ item.price }}$</div>
          </div>
        </div>
        <div class="extras" *ngIf="section.extras">
          <div class="extra" *ngFor="let extra of section.extras">
            {{ extra }}
          </div>
        </div>
      </div>
    </div>

    <img src="w1.png" class="bg bg-3" />
    <img src="w2.png" class="bg bg-1" />
    <img src="w3.png" class="bg bg-2" />

    <img src="logo.png" class="logo" />
  </div>
</div>
